body {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    background-color: #FFB896;
}

figcaption {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    color: #875686;
}

b {
    font-family: 'Brush Script MT', cursive;
    color: #DC81AE;
    font-size: 20px;
}

form p {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    color: #DD8E68;
}

h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    color: #DC81AE;
}

div #media {
    color: #651142;
}

form p a {
    color: #A15A38;
}

he {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    color: rgb(39, 130, 187);
}

form #media {
    color: rgb(39, 130, 187);
}

ul {
    display: inline-block;
}